
<p>
  <strong>Clinic:</strong>
  <%= @clinic.clinic %>
</p>

<p>
  <strong>Address:</strong>
  <%= @clinic.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @clinic.city.city %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
