<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @person.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Idperson:</strong>
  <%= @person.idperson %>
</p>

<p>
  <strong>Persontype:</strong>
  <%= @person.persontype_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
