<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @person.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Person ID:</strong>
  <%= @person.idperson %>
</p>


<p>
  <strong>City:</strong>
  <%= @person.city.city %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @person.specialty.specialty %>
</p>

<p>
  <strong>Clinics:</strong>
  <%= @person.clinics.map{|c| c.clinic}.join(', ') %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
