<p id="notice"><%= notice %></p>

<p>
  <strong>Presentation:</strong>
  <%= @presentation.presentation %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @presentation.concentration %>
</p>

<p>
  <strong>Units:</strong>
  <%= @presentation.units %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
