<p id="notice"><%= notice %></p>

<p>
  <strong>Medication:</strong>
  <%= @product.medication_id %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @product.presentation_id %>
</p>

<p>
  <strong>Substance:</strong>
  <%= @product.substance_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
